<div id="preloader">
  <div class="inner">
    <div class="clock">
      <div class="minute"></div>
      <div class="house"></div>
    </div>
    <span>Loading</span>
  </div>
</div>

<div id="progress">
  <span id="progress-value">
    <i class="bx bx-chevrons-up"></i>
  </span>
</div>

<header class="header" id="home">
  <div class="container">
    <a href="./index.html" class="header-logo">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#home" class="header-nav-link active">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link">About Us</a>
        </li>
        <li class="header-nav-item">
          <a href="#catalog" class="header-nav-link">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a href="#sale" class="header-nav-link">Sale</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a href="#contact" class="header-nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <!--Header-socila-->
    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          aria-label="Proceed to facebook GoIT page"
          class="header-social-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social-svg" width="21" height="20">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          aria-label="Proceed to instagram GoIT page"
          class="header-social-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social-svg" width="20" height="20">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          aria-label="Proceed to youtube GoIT page"
          class="header-social-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-social-svg" width="20" height="20">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!--Header-socila-end-->

    <!--Header-mobile-btn-->
    <button title="burger-btn" class="burger-btn" type="button" data-modal-open-mobile>
      <svg class="burger-btn-icon" width="34" height="34">
        <use href="./img/icons.svg#icon-open"></use>
      </svg>
    </button>
    <!--Header-mobile-btn-end-->
  </div>
</header>
