<!--Header-mobile-modal-menu-->
<div class="mobile-menu" data-modal-mobile>
  <button type="button" class="close-svg-mobile" data-modal-close-mobile>
    <svg class="modal-close-svg-mobile svg" width="34" height="34">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="header-mobile-list">
    <li class="header-mobile-item">
      <a href="#home" class="header-mobile-link active">Home</a>
    </li>
    <li class="header-mobile-item">
      <a href="#about" class="header-mobile-link">About Us</a>
    </li>
    <li class="header-mobile-item">
      <a href="#catalog" class="header-mobile-link">Catalog</a>
    </li>
    <li class="header-mobile-item">
      <a href="#sale" class="header-mobile-link">Sale</a>
    </li>
    <li class="header-mobile-item">
      <a href="#reviews" class="header-mobile-link">Reviews</a>
    </li>
    <li class="header-mobile-item">
      <a href="#contact" class="header-mobile-link">Contact Us</a>
    </li>
  </ul>

  <ul class="header-mobile-social-list">
    <li class="header-mobile-social-item">
      <a
        href="https://www.facebook.com/goITclub/"
        aria-label="Proceed to facebook GoIT page"
        class="header-mobile-social-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="header-mobile-social-svg" width="21" height="20">
          <use href="./img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="header-mobile-social-item">
      <a
        href="https://www.instagram.com/goitclub/"
        aria-label="Proceed to instagram GoIT page"
        class="header-mobile-social-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="header-mobile-social-svg" width="20" height="20">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="header-mobile-social-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        aria-label="Proceed to youtube GoIT page"
        class="header-mobile-social-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="header-mobile-social-svg" width="20" height="20">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<!--Header-mobile-modal-menu-end-->
