<section id="catalog" class="section catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-card">
          <picture
            ><source
              media="(min-width:1280px)"
              srcset="./img/catalog/imagedesk1@1x.png 1x, ./img/catalog/imagedesk1@2x.png 2x" />
            <source
              media="(min-width:768px)"
              srcset="./img/catalog/imagetab1@1x.png 1x, ./img/catalog/imagetab1@2x.png 2x" />

            <source
              media="(min-width:320px)"
              srcset="./img/catalog/imagemob1@1x.png 1x, ./img/catalog/imagemob1@2x.png 2x" />

            <img
              loading="lazy"
              class="catalog-img"
              src="./img/catalog/imagemob1@1x.png"
              alt="Watch"
          /></picture>
          <div class="catalog-content">
            <h3 class="catalog-model" data-fulltext="Garmin Fenix 7X Pro Sapphire Solar">
              Garmin Fenix 7X Pro Sapphire...
            </h3>
            <div class="select-box-price">
              <p class="catalog-price" data-original-price="500">€500</p>
              <!-- Выпадающий список для выбора валюты -->
              <select aria-label="Select currency menu" class="select-currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="UAH">UAH</option>
                <!-- Добавьте другие валюты по желанию -->
              </select>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <picture
            ><source
              media="(min-width:1280px)"
              srcset="./img/catalog/imagedesk2@1x.png 1x, ./img/catalog/imagedesk2@2x.png 2x" />
            <source
              media="(min-width:768px)"
              srcset="./img/catalog/imagetab2@1x.png 1x, ./img/catalog/imagetab2@2x.png 2x" />
            <source
              media="(min-width:320px)"
              srcset="./img/catalog/imagemob2@1x.png 1x, ./img/catalog/imagemob2@2x.png 2x" />

            <img
              loading="lazy"
              class="catalog-img"
              src="./img/catalog/imagemob2@1x.png"
              alt="Watch"
          /></picture>
          <div class="catalog-content">
            <h3 class="catalog-model" data-fulltext="Garmin Fenix 7X Pro Sapphire Solar">
              Garmin Marq Athlete
            </h3>
            <div class="select-box-price">
              <p class="catalog-price" data-original-price="450">€450</p>
              <!-- Выпадающий список для выбора валюты -->
              <select aria-label="Select currency menu" class="select-currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="UAH">UAH</option>
                <!-- Добавьте другие валюты по желанию -->
              </select>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <picture
            ><source
              media="(min-width:1280px)"
              srcset="./img/catalog/imagedesk3@1x.png 1x, ./img/catalog/imagedesk3@2x.png 2x" />
            <source
              media="(min-width:768px)"
              srcset="./img/catalog/imagetab3@1x.png 1x, ./img/catalog/imagetab3@2x.png 2x" />
            <source
              media="(min-width:320px)"
              srcset="./img/catalog/imagemob3@1x.png 1x, ./img/catalog/imagemob3@2x.png 2x" />

            <img
              loading="lazy"
              class="catalog-img"
              src="./img/catalog/imagemob3@1x.png"
              alt="Watch"
          /></picture>
          <div class="catalog-content">
            <h3 class="catalog-model">Garmin Descent MK1</h3>
            <div class="select-box-price">
              <p class="catalog-price" data-original-price="680">€680</p>
              <!-- Выпадающий список для выбора валюты -->
              <select aria-label="Select currency menu" class="select-currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="UAH">UAH</option>
                <!-- Добавьте другие валюты по желанию -->
              </select>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <picture
            ><source
              media="(min-width:1280px)"
              srcset="./img/catalog/imagedesk4@1x.png 1x, ./img/catalog/imagedesk4@2x.png 2x" />
            <source
              media="(min-width:768px)"
              srcset="./img/catalog/imagetab4@1x.png 1x, ./img/catalog/imagetab4@2x.png 2x" />
            <source
              media="(min-width:320px)"
              srcset="./img/catalog/imagemob4@1x.png 1x, ./img/catalog/imagemob4@2x.png 2x" />

            <img
              loading="lazy"
              class="catalog-img"
              src="./img/catalog/imagemob4@1x.png"
              alt="Watch"
          /></picture>
          <div class="catalog-content">
            <h3 class="catalog-model">Garmin D2 Delta PX</h3>
            <div class="select-box-price">
              <p class="catalog-price" data-original-price="380">€380</p>
              <!-- Выпадающий список для выбора валюты -->
              <select aria-label="Select currency menu" class="select-currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="UAH">UAH</option>
                <!-- Добавьте другие валюты по желанию -->
              </select>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <picture
            ><source
              media="(min-width:1280px)"
              srcset="./img/catalog/imagedesk5@1x.png 1x, ./img/catalog/imagedesk5@2x.png 2x" />
            <source
              media="(min-width:768px)"
              srcset="./img/catalog/imagetab5@1x.png 1x, ./img/catalog/imagetab5@2x.png 2x" />
            <source
              media="(min-width:320px)"
              srcset="./img/catalog/imagemob5@1x.png 1x, ./img/catalog/imagemob5@2x.png 2x" />

            <img
              loading="lazy"
              class="catalog-img"
              src="./img/catalog/imagemob5@1x.png"
              alt="Watch"
          /></picture>
          <div class="catalog-content">
            <h3 class="catalog-model">Garmin Fenix 6 Pro Solar</h3>
            <div class="select-box-price">
              <p class="catalog-price" data-original-price="400">€400</p>
              <!-- Выпадающий список для выбора валюты -->
              <select aria-label="Select currency menu" class="select-currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="UAH">UAH</option>

                <!-- Добавьте другие валюты по желанию -->
              </select>
            </div>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <picture
            ><source
              media="(min-width:1280px)"
              srcset="./img/catalog/imagedesk6@1x.png 1x, ./img/catalog/imagedesk6@2x.png 2x" />
            <source
              media="(min-width:768px)"
              srcset="./img/catalog/imagetab6@1x.png 1x, ./img/catalog/imagetab6@2x.png 2x" />
            <source
              media="(min-width:320px)"
              srcset="./img/catalog/imagemob6@1x.png 1x, ./img/catalog/imagemob6@2x.png 2x" />

            <img
              loading="lazy"
              class="catalog-img"
              src="./img/catalog/imagemob6@1x.png"
              alt="Watch"
          /></picture>
          <div class="catalog-content">
            <h3 class="catalog-model" data-fulltext="Tube Watch S42 Date Steel With Black Case">
              Tube Watch S42 Date Steel With...
            </h3>
            <div class="select-box-price">
              <p class="catalog-price" data-original-price="395">€395</p>
              <!-- Выпадающий список для выбора валюты -->
              <select aria-label="Select currency menu" class="select-currency">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="UAH">UAH</option>
                <!-- Добавьте другие валюты по желанию -->
              </select>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button class="btn-catalog" type="button">Show more</button>
  </div>
</section>
