<section class="section">
    <div class="container adventure">
        <div class="adventure-wrap">
            <h2 class="visually-hidden advertisement-title">Adventure</h2>
            <p class="advertisement-text">Choose <span class="advertisement-text-part">your story</span>, making every
                moment unique. Time is your style, and we reveal
                it.</p>
            <a class="advertisement-button" href="#contact">Contact
                Us</a>
        </div>
    </div>
</section>