<div class="section" id="sale">
  <div class="container sale">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrapper">
      <ul class="sale-img-list">
        <li class="sale-img-items">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/sale/1clock1128desctop@1x.png 1x,
                ./img/sale/1clock1128desctop@2x.png 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="./img/sale/1clock768tabl@1x.png 1x, ./img/sale/1clock768tabl@2x.png 2x"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="./img/sale/1clock320mob@1x.png 1x, ./img/sale/1clock320mob@2x.png 2x"
            />
            <img class="sale-images" src="./img/sale/1clock320mob@1x.png" alt="1clock" />
          </picture>
        </li>
        <li class="sale-img-items">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/sale/2clock1128desctop@1x.png 1x,
                ./img/sale/2clock1128desctop@2x.png 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="./img/sale/2clock768tabl@1x.png 1x, ./img/sale/2clock768tabl@2x.png 2x"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="./img/sale/2clock320mob@1x.png 1x, ./img/sale/2clock320mob@2x.png 2x"
            />
            <img class="sale-images" src="./img/sale/2clock320mob@1x.png" alt="2clock" />
          </picture>
        </li>
        <li class="sale-img-items">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/sale/3clock1128desctop@1x.png 1x,
                ./img/sale/3clock1128desctop@2x.png 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="./img/sale/3clock768tabl@1x.png 1x, ./img/sale/3clock768tabl@2x.png 2x"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="./img/sale/3clock320mob@1x.png 1x, ./img/sale/3clock320mob@2x.png 2x"
            />
            <img class="sale-images" src="./img/sale/3clock320mob@1x.png" alt="1clock" />
          </picture>
        </li>
        <li class="sale-img-items">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/sale/4clock1128desctop@1x.png 1x,
                ./img/sale/4clock1128desctop@2x.png 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="./img/sale/4clock768tabl@1x.png 1x, ./img/sale/4clock768tabl@2x.png 2x"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="./img/sale/4clock320mob@1x.png 1x, ./img/sale/4clock320mob@2x.png 2x"
            />
            <img class="sale-images" src="./img/sale/4clock320mob@1x.png" alt="4clock" />
          </picture>
        </li>
      </ul>
      <div class="sale-title-img-wrap">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="./img/sale/titleClock1280mob@1x.png 1x, ./img/sale/titleClock1280mob@2x.png 2x"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./img/sale/titleClock768tabl@1x.png 1x, ./img/sale/titleClock768tabl@2x.png 2x"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="./img/sale/titleClock320mob@1x!.png 1x, ./img/sale/titleClock320mob@2x!.png 2x"
          />
          <img class="sale-title-img" src="./img/sale/titleClock320mob@1x!.png" alt="titleClock" />
        </picture>
      </div>
      <div class="sale-box-specification">
        <h3 class="sale-box-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <span class="sale-box-title-span">Product tag: 706587</span>
        <div class="sale-span-box">
          <span class="sale-curent-price" data-original-price="1500">€1500</span>
          <span class="sale-previous-price" data-original-price="3000">€3000</span>
          <!-- Выпадающий список для выбора валюты -->
          <select aria-label="Select currency menu" class="select-currency select-currency-alone">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="UAH">UAH</option>
            <!-- Добавьте другие валюты по желанию -->
          </select>
        </div>
        <p class="sale-discription">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that
          takes materials and features to the next level. The body of the watch is made of very
          durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive
          touch screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-list">
          <li class="sale-items">Fused carbon fiber</li>
          <li class="sale-items">Grade-5 Titanuim</li>
          <li class="sale-items">Athlete</li>
          <li class="sale-items">Golfer</li>
          <li class="sale-items">Commander</li>
          <li class="sale-items">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</div>
