html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}

a {
  color: currentColor;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

address {
  font-style: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}

:root {
  --font-family: 'Gilroy', sans-serif;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
}

.section {
  width: 100%;
  padding-top: 60px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding-top: 100px;
  }
}

body {
  font-family: var(--font-family);
  color: var(--main);
  line-height: 125%;
  font-family: 'Gilroy', sans-serif;
  background-color: #fbfbfb;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::-webkit-scrollbar {
  height: .5rem;
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 30px;
}